# To get a bot_token and bot_user_name, you need to create a new bot using the Telegram BotFather.
# Start a Private Chat with @BotFather on Telegram,
# then type /newbot and follow the instructions.
BOT_TOKEN=""
BOT_USER_NAME=""

# The origin where your bot is hosted
BOT_APP_ORIGIN=""
# Highly randomized key you define, at least 32 characters long, no special characters
BOT_APP_SECRET_KEY=""

# The origin where your gallery API is hosted
GALLERY_API_ORIGIN=""
# Highly randomized key you define, at least 32 characters long, no special characters
GALLERY_API_SECRET_KEY=""
